{% extends 'main.html' %}

{% load static %}
{% block content %}

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb1.jpg' %});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="breadcumb-text text-center">
                            <h2>About us</h2>
                            <p>This project was developed within the scope of the TPW course for Professor Hélder Zagalo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 50px">
            <div class="row">

                <!-- Team Members -->
                <div class="col-12">
                    <div class="single-about-content mb-100">
                        <h3>Team Members</h3>
                        <hr>
                        <div class="row">
                            <!-- Member 1 -->
                            <div class="col-md-4">
                                <div class="single-member" style="width: 75%; text-align: center">
                                    <img src="{% static 'img/about/mariana.png' %}" alt="Team Member 1">
                                    <h5 class="about-names">Mariana Perna</h5>
                                    <p>106087</p>
                                </div>
                            </div>
                            <!-- Member 2 -->
                            <div class="col-md-4">
                                <div class="single-member" style="width: 75%; text-align: center">
                                    <img src="{% static 'img/about/rafaela.png' %}" alt="Team Member 2">
                                    <h5 class="about-names">Rafaela Dias</h5>
                                    <p>108782</p>
                                </div>
                            </div>
                            <!-- Member 3 -->
                            <div class="col-md-4">
                                <div class="single-member" style="width: 75%; text-align: center">
                                    <img src="{% static 'img/about/vania.png' %}" alt="Team Member 3">
                                    <h5 class="about-names">Vânia Morais</h5>
                                    <p>102383</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Description -->
                <div class="col-12">
                    <div class="single-about-content mb-100">
                        <h3>Project Overview</h3>
                        <hr>
                        <p>Our website is a platform that allows users to explore, share, and discover a wide variety of delicious recipes. From main dishes to incredible desserts, our goal is to inspire culinary creativity and make cooking an enjoyable experience.</p>
                    </div>
                </div>

                <!-- Contact Information -->
                <div class="col-12">
                    <div class="contact-information mb-100">
                        <h3>Contact Us</h3>
                        <hr>
                        <p>Feel free to reach out to us for any inquiries or feedback.</p>
                        <div id="map" style="height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // Coordenadas da Universidade de Aveiro
        var universityLatLng = [40.63328706005596, -8.659450387263156];

        // Configuração do mapa
        var map = L.map('map').setView(universityLatLng, 17);

        // Adiciona um marcador
        L.marker(universityLatLng).addTo(map)
            .bindPopup('Universidade de Aveiro');

        // Adiciona um tile do OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);
    </script>

{% endblock content %}
