{% extends 'main.html' %}

{% block content %}

<div class="container">
    <h1 class="mt-5">My Fridge</h1>
    <div class="row mt-4">
        <div class="col-lg-6">
            <ul class="list-group">
                {% for item in frigorifico_itens %}
                <li class="list-group-item">
                    {{ item.ingredient.nome }}
                    <a href="{% url 'delete_item' item.id %}" class="btn btn-danger btn-sm float-right">Delete</a>
                </li>
                {% empty %}
                <li class="list-group-item">Your fridge is empty.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-6">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Adicionar Ingrediente</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
