{% extends 'main.html' %}

{% load static %}
{% block content %}

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/bg1.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Discover new recipes</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Explore a variety of delicious recipes available. From main dishes to incredible desserts, discover new flavors, get inspired and start cooking your own gastronomic creations.</p>
                                <a href="#best-receipe-section" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Recipes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/bg6.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Add your own recipes</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Be a chef in your own kitchen! Our platform offers you the opportunity to share your exclusive recipes with the community of food lovers. Add your special creations, describe the ingredients and preparation steps, and inspire others to try your delicious recipes.</p>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'createRecipe' %}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Add Recipe</a>
                                {% else %}
                                    <a href="{% url 'loginp' %}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Login to Add Recipe</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/bg7.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Tell us what's in your fridge</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Open the virtual doors of your personal refrigerator. Here, you can organize and manage all the ingredients you have available in your pantry. Keep track of fresh items, essential products and specialty ingredients. You can add, remove, and update items as needed, ensuring you're always ready to create your favorite recipes. Keep your digital fridge well stocked and never run out of ideas for your next meals.</p>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'fridge' %}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Your Fridge</a>
                                {% else %}
                                    <a href="{% url 'loginp' %}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Login to See Your Fridge</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->


    <!-- ##### Best Recipe Area Start ##### -->
    <section class="best-receipe-area" style="padding-top:50px"  id="best-receipe-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>All Recipes</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Best Receipe Area -->
                {% for receita in receitas %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            {% if receita.imagem %}
                                <img class="receita-image" src="{{ receita.imagem.url }}" alt="{{ receita.name }}" style="max-width: 350px; max-height: 150px; width: 100%; height: auto;object-fit: cover;"/>
                            {% endif %}
                            <div class="receipe-content">
                                <a href="{% url 'recipepost' receita.id %}">
                                    <h5>{{receita.name}}</h5>
                                </a>
                                <div class="ratings">
                                    {% for i in "xxxxx" %}
                                    {% if forloop.counter <= receita.media_avaliacoes %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                    
    
                
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <section class="cta-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/bg4.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Cta Content -->
                    <div class="cta-content text-center">
                        <h2>Vegetarian Recipes</h2>
                        <p>Explore our collection of delicious vegetarian recipes, crafted with care to delight your taste buds. Let the culinary journey begin!</p>
                        <a href="{% url 'filtered_recipies' cat=12 %}" class="btn delicious-btn">Discover all the recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### CTA Area End ##### -->

    <!--##### Add Recipies Area #####-->

    <!-- ##### About Area Start ##### -->
    <section class="about-area section-padding-80">
        <div class="container">

            <div class="row align-items-center mt-70">
                <!-- Single Cool Fact -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact">
                        <img src="{% static 'img/core-img/hamburger.png' %}" alt="">
                        <h3><span class="counter">{{nreceitas}}</span></h3>
                        <h6 style="font-weight: lighter;">Amazing Recipes</h6>
                    </div>
                </div>

                <!-- Single Cool Fact -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact">
                        <img src="{% static 'img/core-img/salad.png' %}" alt="">
                        <h3><span class="counter">{{nvegan}}</span></h3>
                        <h6 style="font-weight: lighter;">Vegan Recipes</h6>
                    </div>
                </div>

                <!-- Single Cool Fact -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact">
                        <img src="{% static 'img/core-img/rib.png' %}" alt="">
                        <h3><span class="counter">{{ncarne}}</span></h3>
                        <h6 style="font-weight: lighter;">Meat Recipes</h6>
                    </div>
                </div>

                <!-- Single Cool Fact -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact">
                        <img src="{% static 'img/core-img/pancake.png' %}" alt="">
                        <h3><span class="counter">{{nsobremesa}}</span></h3>
                        <h6 style="font-weight: lighter;">Desert Recipes</h6>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ##### About Area End ##### -->

{% endblock content %}
    