{% extends 'main.html' %}

{% load static %}

{% block content %}


    <div class="receipe-post-area">

        

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% comment %} <div class="receipe-slider owl-carousel">
                        {%if receita.imagem.url %}
                            <img src="{{ receita.imagem.url }}" alt="" style="object-fit: cover; height:400px">
                            <img src="{{ receita.imagem.url }}" alt="" style="object-fit: cover; height:400px">
                            <img src="{{ receita.imagem.url }}" alt="" style="object-fit: cover; height:400px">
                        {%else%}
                            <img src="{% static "img/blog-img/1.jpg" %}%}" alt="" style="object-fit: cover; height:400px">
                            <img src="{% static "img/blog-img/1.jpg" %}%}" alt="" style="object-fit: cover; height:400px">
                            <img src="{% static "img/blog-img/1.jpg" %}%}" alt="" style="object-fit: cover; height:400px">
                        {%endif%}
                    </div> {% endcomment %}
                    <div class="receipe-slider owl-carousel owl-not-carousel" style="display: block;">
                        {% if receita.imagem %}
                            <img src="{{ receita.imagem.url }}" alt="" style="object-fit: cover; height: 400px; width: 100%">
                        {% else %}
                            <img src="{% static "img/blog-img/1.jpg" %}" alt="" style="object-fit: cover; height: 400px; width: 100%">
                        {% endif %}
                    </div>

                    
                </div>
            </div>
        </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <h2>{{receita.name}}</h2>
                            <div class="receipe-duration">
                                <h6>Prep: {{receita.tempoPreparacao}} mins</h6>
                                <h6>Cook: {{receita.tempoCozinhar}} mins</h6>
                                <h6>Yields: {{receita.quantidadePessoas}} Servings</h6>
                                <h6>Level: {{receita.nivel}}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            <div class="ratings">
                                {% for i in "xxxxx" %}
                                    {% if forloop.counter <= media_avaliacoes %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                            <h4>01.</h4>
                            <p>{{receita.description}}</p>
                        </div>
                    </div>

                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredients</h4>
                            {% for ingredientes in receita.receitaingrediente_set.all %}
                                <!-- Custom Checkbox -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck{{ forloop.counter }}" {% if ingredientes.ingrediente.id in user_fridge %}checked{% endif %}>
                                    <label class="custom-control-label" for="customCheck{{ forloop.counter }}">
                                        {{ ingredientes.ingrediente.nome }} ({{ ingredientes.quantidade }})
                                    </label>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <div style="display: flex ;align-content: center; padding-top: 30px; padding-bottom: 30px">
                    {% if user.is_authenticated and user == receita.user or  user.is_superuser %}
                        <h3 style="padding-right: 300px">Is there something missing?</h3>
                        <a class="btn delicious-btn mt-30"  href="{% url 'updateReceita' receita.id %}">Update Recipe</a>
                        <!-- Link para abrir o modal -->
                        <a class="btn delicious-btn mt-30" data-toggle="modal" data-target="#deleteRecipeModal">Delete Recipe</a>

                        <!-- Modal de confirmação de exclusão -->
                        <div class="modal fade" id="deleteRecipeModal" tabindex="-1" role="dialog" aria-labelledby="deleteRecipeModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteRecipeModalLabel">Confirm Deletion</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete "{{receita.name}}"?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                                        <form method="POST" action="{% url 'deleteRecipe' pk=receita.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="recipe_id" value="{{ receita.id }}">
                                            <input type="submit" class="btn btn-danger" value="Confirm">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                </div>

                <div class="comments-box" style="padding-top:50px; padding-bottom:50px;">
                    <h3>Comments</h3>
                    <ul class="comment-list">
                        {% for comment in avaliacoes %}
                            <li class="comment-item" style="padding-bottom:10px">
                                <div class="comment-author">
                                    <img src="{% static 'img/avatar.png' %}" alt="User Avatar" width="100" height="100">
                                    <span>{{ comment.user.username }}</span>
                                </div>
                                <div class="comment-content">
                                    <p>{{ comment.descricao }}</p>
                                    <div class="comment-rating">
                                        {% for i in "xxxxx" %}
                                            {% if forloop.counter <= comment.clasificacao %}
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>                                                                    
                                    <small>{{ comment.data }}</small>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                

                {% if user.is_authenticated %}
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading text-left">
                                <h3>Leave a comment</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="contact-form-area">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="col-12">
                                        <button class="btn delicious-btn mt-30" type="submit">Post Comments</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
    
    

    {% endblock content %} 