{% extends 'main.html' %}

{% load static %}
{% block content %}

    <!-- ##### Shop List Area Start ##### -->
    <section class="shop-list-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Shopping List</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Ingredientes na Shop List -->
                {% for item in ingredientes_na_shoplist %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <img class="receita-image" src="{{ item.ingredient.imagem.url }}" alt="{{ item.ingredient.nome }}"
                                 style="max-width: 350px; max-height: 150px; width: 100%; height: auto;object-fit: cover;"/>
                            <div class="receipe-content">
                                <h5>{{ item.ingredient.nome }}</h5>
                                <p>{{ item.ingredient.calorias }} calorias</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!-- Botão para adicionar novo ingrediente à Shop List -->
                <div class="col-12 text-center mt-4">
                    <a href="{% url 'pagina_para_adicionar_ingredientes' %}" class="btn delicious-btn">Adicionar Novo Ingrediente</a>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop List Area End ##### -->

{% endblock content %}
