{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="row" style="padding-top: 50px">
        <div class="col-12">
            <div class="section-heading">
                <h3>Shopping List</h3>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ingredient</th>
                            <th>Calories</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in ingredientes_na_shoplist %}
                            <tr>
                                <td>{{ item.ingredient.nome }}</td>
                                <td>{{ item.ingredient.calorias }} calorias</td>
                                <td>
                                    <a href="{% url 'delete_shoplist_item' item.id %}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">Your shopping list is empty.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <form method="post" action="{% url 'add_ingredient_to_shoplist' %}">
                <select name="ingredient">
                    {% for ing in todos_ingredientes %} {# Corrigir esta linha #}
                        <option value="{{ ing.id }}">{{ ing.nome }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn delicious-btn mt-30">Add Ingredient</button>
                {% csrf_token %}
            </form>            
        </div>        
    </div>
</div>

{% endblock content %}
