{% extends 'main.html' %}

{% load static %}
{% block content %}

    <div class="hero-area">
        <div class="hero-slides owl-not-carousel owl-carousel" style="display: block;">
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/bg4.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content">
                                <h2>Login</h2>
                                <form method="post" action="/signin" class="mb-2">
                                    <p>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="username" style="color: white">Username</label>
                                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" Required>
                                        </div>
                                        <div class="form-group" style="color: white">
                                            <label for="pass1">Password</label>
                                            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter your password" Required>
                                        </div>

                                        {% for message in messages %}
                                            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade show" role="alert" style="background-color: rgba(169,169,169,0.7)">
                                                {{ message }}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    </p>
                                    <button type="submit" class="btn delicious-btn">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
